.divHeader {
  height: 130px;
  background-color: #f7f7f7;
  color: #77777f;
  display: inline-flex;
  width: 100%;
  align-content: center;
}
.h1 {
  text-align: left;
  font-size: 1.1rem;
}

@media (min-width: 661px) {
  .h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 2.2rem;
  }
}

@media (min-width: 991px) {
  .h1 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .h1 {
    font-size: 2.1rem;
  }
}

