
.titleContainer {
  height: 100%;
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: left;
}
.title {
  color: #252525;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  position: relative;
  width: fit-content;
}
.title::after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: #ffc925;
  top: 40px;
  left: 0px;
  position: absolute;
}


.divContent {
  padding-top: 80px;
}

.text {
  padding-top: 30px;
  padding-bottom: 20px;
}
