.headerTop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 10;
}
.brand {
  width: 150px;
}
.nav {
  margin-left: auto;
  padding: 0 20px;
  
}
.navLink {
  font-size: 16px!important;
  padding: 0 15px!important;
}

